@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-Blue-900: hsl(209, 23%, 22%);
  --color-Blue-950: hsl(207, 26%, 17%);
  --color-Grey-950: hsl(200, 15%, 8%);
  --color-Grey-400: hsl(0, 0%, 50%);
  --color-Grey-50: hsl(0, 0%, 99%);
  --color-White: hsl(0, 100%, 100%);
  --font-Nunito: "Nunito Sans", sans-serif;
}